/* Defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --accent-color: #4cc9f0;
  --deep-purple: #3a0ca3;
  --purple: #f72585;
  --bg-color: #0d1227;
}

body {
  background: url("images/Dotted-background-final.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

img {
  display: block;
}

.pg-padding {
  margin: 0 auto;
  max-width: 1000px;
  padding: 100px;
  margin-bottom: 100px;
}

.heading {
  font-family: "Reem Kufi Fun", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
}

p {
  color: #fff;
}

/* Animaation */
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* Animation classes */
.fadeDown {
  animation: fadeDown 500ms;
}

.fadeUp {
  animation: fadeUp 500ms;
}

.slide-in-fwd-bottom {
  -webkit-animation: slide-in-fwd-bottom 1000ms
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-bottom 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  /* animation-delay: 2000ms; */
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* NAVBAR SECTION */

#header {
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  margin-bottom: 100px;
  background-color: rgba(13, 18, 39, 1);
  z-index: 100;
  box-shadow: 0px 0px 3px 0px #000;
}

#header ul {
  display: flex;
}

#header ul a {
  color: #fff;
  padding: 0 40px;
  font-size: 0.8125rem;
}

#header ul a:hover,
#header ul a.active {
  color: var(--accent-color);
  transition: 0.5s;
}

#header img {
  width: 50px;
  cursor: pointer;
}

#header button {
  color: #fff;
  font-size: 0.8125rem;
  background: none;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: 300;
  letter-spacing: 1px;
  animation: fadeDown 500ms;
  cursor: pointer;
}

#header button:hover {
  scale: 1.05;
  background-color: var(--accent-color);
  font-weight: 400;
  border: 1px solid var(--accent-color);
}

#header .mobile-cv-button {
  display: none;
}

#mobile,
#close {
  display: none;
}
/* ------------------------------------------------ */
/* HERO SECTION */

#hero {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 150px;
  /* height: 90vh; */
}

#hero h1 {
  font-size: 5.3124vw;
  font-weight: 500;
  color: #fff;
  position: relative;
  left: -6px;
}

#hero h3 {
  font-size: 25px;
  position: relative;
  bottom: 10px;
}

#hero h4 {
  font-size: 1.125vw;
  font-weight: 300;
  letter-spacing: 0.8px;
  position: absolute;
}

#hero h3,
h4 {
  color: #b6c4d9;
}

#hero h1,
h3,
h4 {
  font-family: "Reem Kufi Fun", sans-serif;
}

/* #hero .details {
    width: 48%;
} */

#hero .hero-image {
  width: 45%;
}

#hero .hero-image img {
  width: 100%;
}

#hero p {
  text-align: justify;
  max-width: 500px;
  font-weight: 300;
  font-size: 1.1vw;
}

#hero .con-icons a {
  color: #fff;
  display: inline-flex;
  font-size: 15px;
  padding: 8px;
  margin: 10px 5px 20px 0px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.4s ease;
}

#hero .con-icons a:hover {
  background-color: #fff;
  color: #0d1227;
}

#hero button {
  background: linear-gradient(
    to bottom,
    rgba(247, 37, 133, 0.31),
    rgba(247, 37, 133, 0.11)
  );
  color: #fff;
  padding: 8px 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

#hero button:hover {
  filter: brightness(80%);
  color: #fff;
}

/* --------------------------------------------------- */
/* ABOUT SECTION */

#about {
  background-image: url(/images/about-planet.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-bottom: 150px;
}

#about h1 {
  padding-top: 115px;
  color: var(--deep-purple);
  position: relative;
}

#about h3 {
  font-family: "Montserrat Alternates";
  text-align: center;
  color: var(--deep-purple);
  margin-bottom: 20px;
  font-size: 13px;
}

#about .heading::before {
  content: "";
  width: 35px;
  height: 4px;
  background: #fcc431;
  position: absolute;
  right: 47.5%;
  top: 66%;
}

#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 60px;
}

#about .content .about-image {
  width: 30%;
}

#about .content img {
  width: 100%;
  transform: scaleX(-1);
  height: auto;
}

#about .content p {
  width: 48%;
  font-size: 1.2vw;
  /* color: var(--deep-purple); */
  background: linear-gradient(110.67deg, #3a0ca3 1.54%, #f72585 95.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: justify;
}
/* Flip card */

#about .flip-image {
  position: relative;
  cursor: pointer;
  /* background: #3a0ca3; */
  height: 100px;
  width: 100px;
}

#about .card {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  cursor: pointer;
}

#about .card:hover {
  transform: rotateY(180deg);
  outline: 2px dashed var(--deep-purple);
  outline-offset: 5px;
}

#about .front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
#about .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

#about .flip-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#about .satellite-container {
  display: flex;
  margin-bottom: 30px;
}

#about .satellite-container .satellite {
  width: 150px;
  height: 150px;
  background: var(--deep-purple);
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  display: table;
}

#about .satellite span {
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  display: table-cell;
  vertical-align: middle;
}

.plansat img {
  display: none;
}

#about .tools-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 50%;
  margin: 0 auto;
  padding-bottom: 63px;
}

#about .item {
  display: flex;
  flex-direction: column;
  color: var(--purple);
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

#about .item i {
  width: 30px;
  height: 30px;
  padding: 6px;
  margin-bottom: 5px;
  border: 1px solid var(--purple);
  border-radius: 50%;
}

#about .item span {
  font-size: 11px;
}

#about .item i:hover {
  transform: scale(1.2);
}

/* ---------------------------------------------------- */
/* PROJECTS SECTION */

#projects h1 {
  margin-bottom: 80px;
  color: var(--accent-color);
  position: relative;
}

#projects .heading::before {
  content: "";
  width: 35px;
  height: 4px;
  background: #fcc431;
  position: absolute;
  right: 47%;
  top: -40%;
}

#projects .project {
  align-items: center;
  margin-bottom: 150px;
}

#projects img {
  width: 100%;
  box-shadow: -20px 0px 40px -11px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0px 0px;
}

#projects .main-project-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 20px;
  padding: 20px;
  background: linear-gradient(
    121.01deg,
    rgba(247, 37, 133, 0.11) 2.24%,
    rgba(76, 201, 240, 0.05) 99.53%
  );
  border-radius: 15px 15px 0px 0px;
  box-shadow: 20px 0px 40px -11px rgba(0, 0, 0, 0.4);
}

.main-project-card img {
  grid-area: 2 / 1 / 12 / 8;
}

#projects .details {
  grid-area: 2 / 8 / 12 / 13;
}

#projects .project-card.reverse {
  border-radius: 15px 0px 0px 0px;
  box-shadow: -20px 0px 40px -11px rgba(0, 0, 0, 0.4);
}

#projects img.reverse {
  border-radius: 0px 15px 0px 0px;
  box-shadow: 20px 0px 40px -11px rgba(0, 0, 0, 0.25);
}

#projects .project-card p {
  text-align: justify;
  font-weight: 300;
  font-size: 0.8125rem;
}

#projects .project-card p.details {
  margin-bottom: 30px;
}

#projects .project-card p.info {
  color: var(--accent-color);
}

#projects .project-card h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
}

#projects .project-card .launch-git {
  position: absolute;
  top: 85%;
}

#projects .project-card.reverse .launch-git {
  top: 85%;
  right: 85%;
}

#projects .project-card a {
  color: #fff;
  justify-content: space-between;
  padding-left: 3px;
}

/* ---------------------------------------------------- */
/* CONTACT SECTION */
#contact {
  position: relative;
  padding-bottom: 50px;
}

#contact h1 {
  color: var(--accent-color);
  position: relative;
}

#contact .heading::before {
  content: "";
  width: 50px;
  height: 4px;
  background: #fcc431;
  position: absolute;
  right: 47%;
  top: -40%;
}

#contact p {
  font-family: "Reem Kufi Fun", sans-serif;
  font-size: 1.25rem;
  text-align: center;
  position: absolute;
  top: 56.5%;
  right: 42%;
}

#contact img {
  display: flex;
  width: 495px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

#contact input {
  border: none;
  padding: 0.68rem 0;
  padding-left: 15px;
  background: #e9ebee;
  border-radius: 50px;
  position: absolute;
  top: 68.8%;
  left: 21%;
  width: 249px;
  outline: none;
}

#contact input:focus {
  outline: none;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact input::placeholder {
  font-size: 0.8rem;
}

#contact input:focus::placeholder {
  color: transparent;
}

/* ---------------------------------------------------------- */
/* FOOTER SECTION  */

#footer {
  height: 100px;
  background-color: #0a0e1f;
  padding: 10px 40px;
  position: relative;
}

footer img {
  width: 60px;
}

footer p,
footer span {
  font-family: "Share Tech Mono", sans-serif;
  font-size: 8px;
  text-align: center;
  /* padding-bottom: 5px; */
}

footer span {
  color: var(--accent-color);
}

footer .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

footer .socials i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  margin-right: 25px;
}

.astronaut {
  width: 20%;
  position: absolute;
  top: -200px;
  right: 56px;
  transform: scaleX(-1);
  rotate: -20deg;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* RESPONSIVE SECTION */

/* TABLETS */
@media (max-width: 799px) {
  .pg-padding {
    padding: 0 80px;
  }
  /* ------------------------------- */
  /* Header Section */
  #header {
    padding: 20px 80px;
    align-items: center;
  }

  #header ul a {
    color: #fff;
    padding: 0 20px;
    font-size: smaller;
  }

  #hero h4 {
    font-size: 15px;
  }

  #hero h1 {
    font-size: 54px;
    left: -3px;
    top: 3px;
  }

  #hero h3 {
    font-size: 23px;
  }

  #hero p {
    width: 95%;
    font-size: 13px;
  }

  #hero .hero-image img {
    width: 300px;
    height: auto;
  }

  /* ---------------------------------- */
  /* About Section */

  /* #about h1 {
    top: 49px;
  } */

  #about .heading::before,
  #projects .heading::before {
    right: 46.1%;
  }

  #about .content p {
    font-size: 1.5vw;
  }

  #about .content {
    margin-top: 30px;
    margin-bottom: 45px;
  }

  #about .satellite-container {
    /* margin-bottom: 50px; */
  }

  #about .satellite-container .satellite {
    width: 90px;
    height: 90px;
  }

  #about .flip-image img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  #about .item {
    margin-bottom: 10px;
  }

  #about .item i {
    width: 25px;
    height: 25px;
    padding: 6px;
    margin-bottom: 3px;
    font-size: 12px;
  }

  #about .item span {
    font-size: 9px;
  }

  /* ----------------------------------- */
  /* Project Section */

  /* --------------------------------------- */
  /* Contact Section */
  #contact p {
    top: 283px;
    right: 39%;
  }

  #contact input {
    top: 363.5px;
    left: 97px;
  }
}
/* -----------++++++++++++------------------- */
/* MOBILE PHONES */
@media (max-width: 477px) {
  #header {
    padding: 10px 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    top: 0;
  }

  #header img {
    width: 50px;
    height: 24px;
    cursor: pointer;
  }

  #navlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    padding-top: 50px;
    right: -300px;
    top: 0px;
    width: 300px;
    height: 100vh;
    background: url(images/Dotted-background-final.png);
    box-shadow: -2px 0px 2px 1px rgb(0 0 0 / 10%);
    z-index: 1;
    transition: 0.3s;
  }

  #navlist.active {
    right: 0px;
  }

  #navlist li {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  #header .cv-button {
    display: none;
  }

  #header button {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
  }

  #header .mobile-cv-button {
    display: initial;
  }

  #mobile,
  #close {
    display: initial;
  }

  #mobile i {
    color: #fff;
    font-size: 25px;
  }

  #close {
    position: absolute;
    top: 12px;
    right: 0px;
  }

  #close i {
    font-size: 25px;
  }

  /* ----------------------------------- */
  /* Hero Section */
  #hero {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    height: 80vh;
  }

  #hero .detaails {
    width: 100%;
  }

  .pg-padding {
    padding: 0 20px;
  }

  #hero .hero-image {
    width: 100%;
    position: relative;
  }

  #hero .hero-image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -50px;
    /* opacity: 0.9; */
  }

  /* ------------------------------------------ */
  /* About Section */

  #about {
    background-image: none;
    background-color: #fff;
    margin-bottom: 150px;
    height: 190vh;
    margin-bottom: 60px;
  }

  #about h1 {
    padding-top: 50px;
  }

  #about h3 {
    font-size: 1rem;
  }

  #about .heading::before,
  #projects .heading::before {
    right: 45%;
  }

  #about .heading::before {
    top: 50%;
  }

  #about .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #about .content .about-image {
    width: 100%;
  }

  #about .content img {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    filter: drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.3));
  }

  #about .content p {
    width: 100%;
    font-size: 0.8125rem;
  }

  #about .satellite-container {
    display: flex;
    justify-content: center;
  }

  #about .satellite:first-child,
  #about .satellite:last-child {
    display: none;
  }

  #about .flip-image img {
    width: 110px;
    height: 110px;
    border-bottom: 4px solid #371a45;
  }
  .plansat img {
    display: initial;
    margin-bottom: 20px;
  }

  #about .tools-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding-bottom: 0px;
  }
  #about .item i {
    width: 50px;
    height: 50px;
    padding: 12px;
    margin-bottom: 3px;
    font-size: 22px;
  }

  #about .item span {
    font-size: 0.8125rem;
  }

  #contact img {
    display: flex;
    width: 330px;
    height: auto;
    margin: 0 auto;
    position: relative;
  }

  #contact input::placeholder {
    font-size: 0.7rem;
  }

  /* -------------------------------------------- */
  /* Project Section */
  #projects .main-project-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 15px 15px 15px 15px;
  }

  #projects img {
    width: 100%;
  }

  .main-project-card img {
    grid-area: 1 / 1 / 7 / 7;
  }

  #projects .details {
    grid-area: 7 / 1 / 13 / 7;
  }

  #projects .project-card p {
    text-align: justify;
    font-weight: 300;
    font-size: 0.8125rem;
  }

  #projects .project-card p.details {
    margin-bottom: 10px;
  }

  #projects .project-card p.info {
    margin-bottom: 30px;
  }

  #projects .project-card .launch-git {
    top: 92%;
  }

  /* ----------------------------------------- */
  /* Contact Section */
  #contact input {
    padding: 0.23rem 0;
    padding-left: 15px;
    top: 61.6%;
    left: 1.5%;
    width: 156px;
  }

  #contact p {
    font-size: 1rem;

    top: 46.5%;
    right: 34%;
  }

  .astronaut {
    width: 20%;
    position: absolute;
    top: -200px;
    right: 56px;
    transform: scaleX(-1);
    rotate: -20deg;
  }

  #footer {
    height: 100px;
    background-color: #0a0e1f;
    padding: 5px 20px;
    position: relative;
  }

  footer img {
    width: 40px;
  }

  footer .socials i {
    font-size: 16px;
    width: 25px;
    height: 25px;
    padding: 4px;
  }
}
